 <div class="container card my-5 py-5 z-depth-1">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-6 mb-4 mb-md-0">

                <h3 class="font-weight-bold">2015 :Cotribution for Kidney
                    treatment to Golam Faruk Patawary, </h3>

                <p class="text-muted">Lorem ipsum dolor, sit amet consectetur
                    adipisicing elit. Id quam sapiente
                    molestiae
                    numquam quas, voluptates omnis nulla ea odio quia similique
                    corrupti magnam, doloremque laborum.</p>

                <p class="text-default font-weight-bold">10/02/2020</p>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4 mb-md-0">

                <!--Image-->
                <div class="view overlay z-depth-1-half">
                    <img src="assets/Images/IMG_14.JPG" class="img-fluid"
                        alt="">
                    <a href="#">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->


    </section>
    <!--Section: Content-->


</div>


<app-footer> </app-footer>