<div class="container-fluid content-container member-container">

    <!-- Default form login -->
    <form class="text-center border border-light login-box" action="#!">

        <div class="user-ico">
            <span class="material-icons">
                account_circle
            </span></div>

        <h2 class="header">User Login</h2>

        <!-- Email -->
        <input type="email" id="defaultLoginFormEmail" class="form-control mb-4"
            placeholder="User">

        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" class="form-control
            mb-4" placeholder="Password">

        <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input"
                        id="defaultLoginFormRemember">
                    <label class="custom-control-label"
                        for="defaultLoginFormRemember">Remember me</label>
                </div>
            </div>
            <div>
                <!-- Forgot password -->
                <a href="">Forgot password?</a>
            </div>
        </div>

        <!-- Sign in button -->
        <button type="button" mdbBtn color="primary" class="btn-block my-4
            buet-btn-primary waves-light" mdbWavesEffect>Sign in</button>
        <!-- Register -->
        <p>Not a member?
            <a href="">Register</a>
        </p>

        <!-- Social login -->
        <p>or sign in with:</p>

        <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="mx-2" role="button"><i class="fab fa-twitter"></i></a>
        <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in"></i></a>
        <a href="#" class="mx-2" role="button"><i class="fab fa-github"></i></a>
    </form>
    <!-- Default form login -->

</div>

