<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light sticky-top">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">
        <img src="assets/Images/buet88-club-logo.png" height="100" alt="">
    </a>

    
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarMenuMobile"
        aria-controls="navbarMenuMobile" aria-expanded="false" aria-label="Toggle
        navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarMenuMobile">

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="members">Members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="remember">We Remember</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="user-login">User Login</a>
            </li>
            <li class="nav-item">

                <div class="input-group">
  <input type="text" class="form-control search-input" placeholder="Search members..." aria-label="Search members" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
  </div>
</div>

                <!-- <a class="nav-link" routerLink="search"><i class="fas fa-search"></i>Search</a> -->
            </li>



        </ul>
        <!-- Links -->


    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
