
<div class="container-fluid content-container">
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-8 mb-4 profile-picture-container">


            <!--Rotating card-->
            <div class="card-wrapper">
                <div id="card-1" class="card card-rotating text-center">
                    <!--Front Side-->
                    <div class="face front">

                        <!-- Image-->
                        <div class="card-up">
                            <img
                                src="assets/Images/profile-pic-back.jpg"
                                class="img-fluid" alt="Image with a photo of
                                clouds.">
                        </div>
                        <!--Avatar-->
                        <div class="avatar mx-auto white">
                            <img
                                src="https://mdbootstrap.com/img/Photos/Avatars/img%20%289%29.jpg"
                                class="rounded-circle" alt="Sample avatar
                                image.">
                        </div>
                        <!--Content-->
                        <div class="card-body">
                            <h4>Jonathan Doe</h4>
                            <p>Architect</p>
                          
                        </div>
                    </div>
                    <!--/.Front Side-->

                </div>
            </div>
            <!--/.Rotating card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-8 col-md-8 mb-4 offset-md-4">


            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2>Member Details</h2>
                        </div>
                    </div>
                </div>
                <!--Table-->
                <table class="table table-hover">


                    <!--Table body-->
                    <tbody>
                        <tr>
                            <td class="label">Member No</td>
                            <td>ARCH-NR03</td>
                        </tr>

                        <tr>
                            <td class="label">Department</td>
                            <td>Architecture</td>
                        </tr>

                        <tr>
                            <td class="label">Hall</td>
                            <td>Nazrul</td>
                        </tr>
                        <tr>
                            <td class="label">Room no</td>
                            <td>899</td>
                        </tr>

                        <tr>
                            <td class="label">Birth date</td>
                            <td>19/6/1966</td>
                        </tr>

                        <tr>
                            <td class="label">Mobile no</td>
                            <td>018989789966</td>
                        </tr>

                        <tr>
                            <td class="label">Residence</td>
                            <td>3/7 Prominent Housing, Sheikh-er-Tek,
                                Mohammadpur, Dhaka-1207</td>
                        </tr>

                        <tr>
                            <td class="label">Organization</td>
                            <td>ZZ otb</td>
                        </tr>

                        <tr>
                            <td class="label">Office</td>
                            <td>Paltan</td>
                        </tr>

                        <tr>
                            <td class="label">Phone Office</td>
                            <td>0198996658</td>
                        </tr>

                        <tr>
                            <td class="label">Res</td>
                            <td>0198996658</td>
                        </tr>

                        <tr>
                            <td class="label">Blood group</td>
                            <td>A-</td>
                        </tr>

                        <tr>
                            <td class="label">Life Member</td>
                            <td>Yes</td>
                        </tr>

                        <tr>
                            <td class="label">(LM)</td>
                            <td>Blank</td>
                        </tr>

                        <tr>
                            <td class="label">Hobby</td>
                            <td>Photography</td>
                        </tr>

                        <tr>
                            <td class="label">Country</td>
                            <td>Bangladesh</td>
                        </tr>

                        <tr>
                            <td class="label">Married On</td>
                            <td>08/06/1983</td>
                        </tr>


                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->


                <!--Table-->
                <table class="table table-hover">

                    <!--Table head-->
                    <thead class="mdb-color darken-5">
                        <tr class="text-white">
                            <th>Spouse Information</th>
                            <th></th>
                        </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                        <tr>
                            <td class="label">Spouse</td>
                            <td>Mrs jane doe</td>
                        </tr>

                        <tr>
                            <td class="label">Birth date</td>
                            <td>19/6/1966</td>
                        </tr>


                        <tr>
                            <td class="label">Organization</td>
                            <td>ZZ otb</td>
                        </tr>

                        <tr>
                            <td class="label">Designation</td>
                            <td>Boss</td>
                        </tr>


                        <tr>
                            <td class="label">Blood group</td>
                            <td>A-</td>
                        </tr>


                        <tr>
                            <td class="label">Hobby</td>
                            <td>Photography</td>
                        </tr>


                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->

                <!--Table-->
                <table class="table mb-5">

                    <!--Table head-->
                    <thead class="mdb-color darken-5">
                        <tr class="text-white">
                            <th>Children Information</th>
                            <th></th>
                        </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                        <tr>
                            <td class="label">Name</td>
                            <td>Alexi</td>
                        </tr>

                        <tr>
                            <td class="label">Birth date</td>
                            <td>19/6/1966</td>
                        </tr>


                        <tr>
                            <td class="label">Blood group</td>
                            <td>A-</td>
                        </tr>

                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->

            </div>


        </div>
        <!--Grid column-->



    </div>

</div>


<footer id="footer" class="site-footer">
    <div class="text-center" style="line-height: 50px;">© 2020 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> buet88club.com</a>
    </div>

</footer>