.card-wrapper .avatar {

    display   : block;
    margin-top: -60px;
    overflow  : hidden;

}

.table .label {
    width      : 250px;
    font-weight: bold;
}

.card-up {
    height  : 300px;
    overflow: hidden;
}

.profile-picture-container {
    position: fixed;
}