<div class="container-fluid content-container member-container">



    <!-- Default form login -->
    <form class="text-right border border-light g-form-box" action="#!">
        

        <h2 class="header">Search</h2>


        <input type="text" id="defaultLoginFormEmail" class="form-control mb-4"
            placeholder="Member No">


        <input type="text" id="defaultLoginFormPassword" class="form-control
            mb-4"
            placeholder="Name">

        <input type="text" id="defaultLoginFormPassword" class="form-control
            mb-4"
            placeholder="Organization">

        <select class="browser-default custom-select form-control mb-4">
            <option selected>Department</option>
            <option value="1">Architecture</option>
            <option value="2">Chemical Engineering</option>
            <option value="3">Civil Engineering</option>
            <option value="3">Electrical &amp; Electronic Engineering</option>
            <option value="3">Materials &amp; Metallurgical Engineering</option>
            <option value="3">Mechanical Engineering</option>
            <option value="3">Naval Architecture &amp; Marine Engineering</option>
        </select>

        <select name="hallCode" class="browser-default custom-select
            form-control
            mb-4">
            <option selected>Hall</option>
            <option value="4">Ahsanullah Hall</option>
            <option value="14">Ext. Ahsanullah Hall</option>
            <option value="17">Ext. Ladies Hall</option>
            <option value="13">Ext. Nazrul Islam Hall</option>
            <option value="12">Ext. Shahid Smriti Hall</option>
            <option value="15">Ext. Sher e Bangla Hall</option>
            <option value="16">Ext. Sohrawardi Hall</option>
            <option value="11">Ext. Titumir Hall</option>
            <option value="1">Ladies Hall</option>
            <option value="9">Nazrul Islam Hall</option>
            <option value="8">Shahid Smiriti Hall</option>
            <option value="7">Sher e Bangla Hall</option>
            <option value="6">Sohrawardi Hall</option>
            <option value="5">Titumir Hall</option>
        </select>

        <input type="text" id="defaultLoginFormPassword" class="form-control
            mb-4"
            placeholder="Room Number">

        <select name="hallCode" class="browser-default custom-select
            form-control
            mb-4">
            <option selected>Life Member</option>
            <option value="4">Yes</option>
            <option value="14">No</option>
        </select>

        <select class="browser-default custom-select form-control mb-4">
            <option selected>Blood Group</option>
            <option value="A +ve">A +ve</option>;
            <option value="A -ve">A -ve</option>;
            <option value="B +ve">B +ve</option>;
            <option value="B -ve">B -ve</option>;
            <option value="O +ve">O +ve</option>;
            <option value="O -ve">O -ve</option>;
            <option value="AB +ve">AB +ve</option>;
            <option value="AB -ve">AB -ve</option>;
        </select>

        <input type="text" id="defaultLoginFormPassword" class="form-control
            mb-4"
            placeholder="City">

        <select name="hallCode" class="browser-default custom-select
            form-control
            mb-4">
            <option selected>Country</option>
            <option value="4">Bangladesh</option>
            <option value="14">India</option>
            <option value="14">Italy</option>
        </select>


        <!-- Sign in button -->
       <button type="button" mdbBtn color="primary" mdbWavesEffect class="buet-btn-primary">Search</button>
<button type="button" mdbBtn color="light" mdbWavesEffect>Reset</button>


    </form>
    <!-- Default form login -->

</div>


<app-footer> </app-footer>