
<div class="site-content-warp">

    <div class="main-sidebar" tabindex="1" style="overflow: hidden; outline:
        none;">
        <div class="mb-warp">


            <h2 class="about-title">ABOUT</h2>

            <div class="about-info">
                <h2 style="color:#944c4e"> BUET</h2>
                <h2 style="color:#7d7879"> 88 CLUB </h2>
                <p class="about-description">
                    BUET 88 Club was established few years back. Since its
                    inception within a very short time it has already engaged to
                    assemble members who are now working at vaious important
                    organizations in both public and private sector. Although
                    right now BUET 88 club is performing as a social club where
                    members get together in a regular interval in a very close,
                    informal and interactive way. However BUET 88 club sees
                    itself not only as social organization but as a club which
                    would work in a much more broader field and make its
                    contribution visible at national level in near future. In
                    order to make this club a really meaningfull and significant
                    organization we have to decide upon cetain short term and
                    long term mission which we wish to realize in futute.
                </p>
            </div>

        </div>
    </div>


    <div class="page-section">
        <div class="hero-section">
            <div class="hero-scroll" tabindex="2" style="overflow: hidden;
                outline: none;">
                <div class="hero-track" style="width: 2109px;">
                    <div class="hs-item set-bg"
                        data-setbg="img/Dept_of_Architecture.jpg"
                        style="background-image:
                        url(assets/Images/Dept_of_Architecture.jpg); width:
                        653px; height: 710px;">
                        <div class="hs-info">
                            <h5>BUET CAMPUS</h5>
                            <p>ARCHITECTURE</p>

                            <a href="#"><img src="img/arrow-right.png" alt=""></a>
                        </div>
                    </div>
                    <div class="hs-item set-bg" data-setbg="img/buet.jpg"
                        style="background-image: url(assets/Images/buet.jpg);
                        width: 653px; height: 710px;">

                        <div class="hs-info">
                            <h5>BUET CAMPUS</h5>
                            <p> Lorem</p>
                            <a href="#"><img src="img/arrow-right.png" alt=""></a>
                        </div>
                    </div>
                    <div class="hs-item set-bg"
                        data-setbg="img/cse-building.jpg"
                        style="background-image:
                        url(assets/Images/cse-building.jpg); width: 653px;
                        height: 710px;">
                        <div class="hs-info">
                            <h5>BUET CAMPUS</h5>
                            <p>CSE</p>
                            <a href="#"><img src="img/arrow-right.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="ascrail2000" class="nicescroll-rails nicescroll-rails-vr" style="width:
    4px; z-index: 99; cursor: default; position: absolute; top: 0px; left:
    710px; height: 908px; opacity: 0;">

</div>
<div id="ascrail2000-hr" class="nicescroll-rails nicescroll-rails-hr"
    style="height: 4px; z-index: 99; top: 904px; left: 0px; position: absolute;
    cursor: default; display: none; width: 710px; opacity: 0;">

</div>
<div id="ascrail2001" class="nicescroll-rails nicescroll-rails-vr" style="width:
    4px; z-index: auto; background: rgb(238, 238, 238); cursor: default;
    position: absolute; top: 91px; left: 1916px; height: 710px; opacity: 1;
    display: none;">

</div>

<div class="copyright"><p>
        Copyright ©<script type="text/javascript" async="" src=""></script><script
            type="text/javascript">document.write(new Date().getFullYear());</script>
        2020 All rights reserved by <a href="#" target="_blank">Streams Tech Ltd</a>
    </p></div>
