<div class="card">
  <div class="card-body p-5"> 
    <form class="mat-dialog-content" (ngSubmit)="Submit()" [formGroup] ="hallgroup" class="text-center col-md-4 ml-auto mr-auto">
      <p>Update Hall</p>
        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input class="form-control"  formControlName = "name" placeholder="Hall Name"  required >
          </mat-form-field>
        </div>

        <button type="submit"  class="btn btn-primary mr-3" mdbWavesEffect>Save</button>

        <button color="danger"  class="btn btn-danger" (click) = "onClick()">Cancel</button>
    </form>
  </div>
</div>