<!-- <div class="sidebar-fixed position-fixed">
   
  <app-sidebar></app-sidebar>
 
 </div>
 -->

<!-- <div class="container-fluid content-container admin-content"> -->

      <h1 class="header">

        <!-- <button routerLink="/login/admin-menu/add-hall" > <span class="fa-stack fa-1x h-icon mr-2">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="far fa-building fa-stack-1x fa-inverse"></i>
            </span> Add Hall </button> -->

              
            <span class="spacer"></span>
            <button routerLink="add-hall" type="button" mdbBtn color="secondary" class="waves-light btn-add" mdbWavesEffect><i class="fas fa-plus-circle mr-2"></i>Add hall</button>
      </h1>

<!-- Card -->
<div class="card">

  
  <!-- Card content -->
  <div class="card-body p-5">


 
   
      <form class="text-center col-md-4 ml-auto mr-auto" action="#!">

   <!-- Text -->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>


          <!-- Name -->
          <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name"
           style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">

          <!-- Email -->
          <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">

          <!-- Subject -->
          <label class="active">Subject</label>
          <select class="browser-default custom-select mb-4">
            <option value="" disabled="">Choose option</option>
            <option value="1" selected="">Feedback</option>
            <option value="2">Report a bug</option>
            <option value="3">Feature request</option>
          </select>

          <!-- Message -->
          <div class="form-group">
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
          </div>

          <!-- Copy -->
          <div class="custom-control custom-checkbox mb-4">
            <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
            <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
          </div>

          <!-- Send button -->
         

           <button routerLink="admin-menu" type="button" mdbBtn color="secondary" class="my-4
            buet-btn-primary waves-light" mdbWavesEffect>Save</button>

        </form>

  </div>

</div>
<!-- Card -->


<!-- </div> -->

